body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    text-align: center;
}

#team {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.team-member {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.team-member h2 {
    font-size: 1.5em;
    color: #333;
}

.team-member p {
    font-size: 1em;
    color: #777;
}